@font-face {
  font-family: 'Quixote-Regular';
  src: url('../public/fonts/Quixote-Regular.woff2') format('woff2'),
       url('../public/fonts/Quixote-Regular.woff') format('woff');
}
.Quixote-Regular {
  font-family: Quixote-Regular;
}

@font-face {
  font-family: 'don_quixote-webfont';
  src: url('../public/fonts/don_quixote-webfont.woff2') format('woff2'),
       url('../public/fonts/don_quixote-webfont.woff2') format('woff');
}
.don_quixote-webfont {
  font-family: don_quixote-webfont;
}

h2 {
  font-family: 'don_quixote-webfont';
  font-size: 4rem;
}

.about-container h3 {
  font-family: 'don_quixote-webfont';
  font-size: 4rem;
  margin-bottom: auto;
}

body {
  font-family: 'Quixote-Regular', sans-serif;
  color: #FFCE13;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container img {
  width: 40%;
  margin: 40px;
}

.about-container p {
  width: 60%;
}


.home-container {
  width: 125%;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: flex-start; 
}


.text-container {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  margin-top: 150px;
}

.text-container h3 {
  font-family: 'don_quixote-webfont';
  font-size: 4rem;
  margin-bottom: -15px;
}

.text-container span {
  font-size: 1.10rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.text-container p {
  text-align: justify;
  font-size: 0.92rem;
  width: 90%;
  margin-left: 30px;
  letter-spacing: 1px;
}

.home-container img {
  max-width: 70%; 
  margin: 15px;
  height: 470px;
  margin-top: 40px;
}

ul {
  list-style-type: none;
  }


.list-group-item {
  background-color: rgba(0, 0, 0, 0);
  color: #FFCE13;
}

h2 {
  margin-top: 30px;
}

.about-container {
  margin-bottom: 50px;
}

.list-unstyled li {
  margin: -35px auto;
  letter-spacing: 1px;
}

h5 {
  margin-top: 40px;
  margin-left: 35px;
}

footer {
  color: purple;
}

footer p {
  margin-bottom: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
}

footer h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}

body {
  overflow-x: hidden;
  background-color: #B43930;
}


.navbar {
  background-color: #88070B;
}

.navbar span {
  font-size: 1.5rem;
  font-family: 'Quixote-Regular', sans-serif;
  color: black;
  width: 50%;
  display: flex;
  align-items: flex-start;
}

/* Custom CSS to style the sticky navbar */
.custom-navbar {
  padding: 10px; 
  height: 35px; /* Set the desired height for the navbar */
  margin-top: 15px;
}

.nav-link {
  transition: color 0.3s; 
  font-size: 1rem;
  font-family: 'Quixote-Regular', sans-serif;
  margin: 40px;
}

.nav-link:hover {
  color: #FFCE13; 
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
